/* style.css */
body {
  margin: 0;
  font-family: monospace;
  background: #fff;
  color: #111;
}

header {
  padding: 1rem;
  border-bottom: 2px solid black;
}

.layout {
  display: flex;
  height: 100vh;
}

.primary-nav {
  width: 15%;
  padding: 1rem;
  border-right: 2px solid black;
}

.calendar-scroller {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  border-right: 2px solid black;
}

.secondary-nav {
  width: 20%;
  padding: 1rem;
}
